name: Validate PR build

on:
  pull_request:
    branches: [ "master" ]
permissions:
  pull-requests: write

jobs:
  build:
    if: github.repository == 'quillpad/quillpad'
    runs-on: ubuntu-latest
    environment: Test
    
    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        add-job-summary-as-pr-comment: on-failure # Valid values are 'never' (default), 'always', and 'on-failure'
        build-scan-publish: true
        build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
        build-scan-terms-of-use-agree: "yes"

    - name: Check compilation and test
      run: |
        chmod +x gradlew
        ./gradlew \
          "-Porg.gradle.jvmargs=-XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:+UseParallelGC -XX:MaxMetaspaceSize=1g" \
          compileDebugSources test

    - name: Archive APK
      uses: actions/upload-artifact@v4
      with:
        name: Archive Debug APKs
        path: app/build/outputs/apk/debug/app-*.apk
